  <div class="theme">
    <div class="back-bird"></div>
    <div class="header-description container">
      <h2 class="header-title">Discover. Learn. Share.</h2>
      <p>All you need is the No.1 Odin platform</p>
      <button class="type-button">Start Exploring</button>
    </div>    
    <div class="fore-bird"></div>
  </div>
  <div>
    <div class="container">
      <div class="content">
        <h2>Level up your Project Development</h2>
        <h3>Odin is a proprietary issue tracking which comes with the best plugins, features. It provides effective project management, planning poker ans retrospective.</h3>
      </div>
    </div>
  </div>